/* Loading Spinner */
.spinner {
  position: fixed;
  background-color: whitesmoke;
  height: 100%;
  display: grid;
  place-items: center;
  inset: 0;
  z-index: 1;
  opacity: 1;
  animation: loading 1s 3s ease-in-out forwards;
}
.spinner::after {
  content: "";
  height: 100px;
  width: 100px;
  border: 5px solid transparent;
  border-top: 5px solid #9356dc;
  border-bottom: 5px solid #ff79da;
  border-radius: 50%;
  animation: spin 1.5s ease-in-out infinite;
}

/* Header Button */
.presentation_button {
  padding-top: 10px;
  padding-bottom: 20px;
}
.presentation_button #explorer {
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  border: 0px solid;
  border-radius: 30px;
  font-size: medium;
  padding: 15px 20px;
  transition: all 1s;
  cursor: pointer;
  box-shadow: 0px 0px 1px 3px rgb(233, 233, 233);
}
.presentation_button #explorer:hover {
  background: linear-gradient(#ff79d9c4, #9256dcbd);
  box-shadow: 1px 1px 3px 3px gray;
}

/* Menus Button */
.epd_button {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.epd_button #epd_button {
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  border: 0px solid;
  border-radius: 30px;
  font-size: medium;
  padding: 15px 45px;
  transition: all 1s;
  cursor: pointer;
  box-shadow: 0px 0px 1px 3px rgb(233, 233, 233);
}
.epd_button #epd_button:hover {
  background: linear-gradient(#ff79d9c4, #9256dcbd);
  box-shadow: 1px 1px 3px 3px gray;
}

/* Heart Animation */
.card_heart {
  font-size: 24px;
  margin-top: 5px;
}
.card_heart .fas {
  display: none;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card_heart:hover .fas {
  display: block;
}
.card_heart:hover .far {
  display: none;
}

/* Delay 4 Menus Pages */
.delay_one {
  animation: test 1s ease-in-out forwards;
}
.delay_two {
  animation: test 1.5s ease-in-out forwards;
}
.delay_three {
  animation: test 2s ease-in-out forwards;
}
.delay_four {
  animation: test 2.5s ease-in-out forwards;
}
.delay_five {
  animation: test 3s ease-in-out forwards;
}
.delay_six {
  animation: test 3.5s ease-in-out forwards;
}
.delay_seven {
  animation: test 4s ease-in-out forwards;
}
.delay_eight {
  animation: test 4.5s ease-in-out forwards;
}
.delay_nine {
  animation: test 5s ease-in-out forwards;
}
.delay_ten {
  animation: test 5.5s ease-in-out forwards;
}

/* Menus Check Animation */
.hover_check {
  position: absolute;
  background: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0px;
  width: 60px;
  height: 70px;
  margin: -34px 0;
  color: #fff;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  transform: translateX(150%);
  transition: 0.5s ease;
}
.card_menu:hover .title_menu {
  padding-right: 70px;
}
.card_menu:hover .price_menus {
  padding-right: 70px;
  transition: 0.8s ease;
}
.card_menu:hover .hover_check {
  transform: translateX(0);
  transition: 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: back 0.6s ease-in-out;
}
.card_menu:hover .fa-circle-check {
  -webkit-animation: circle 0.6s ease forwards;
  animation: circle 0.6s ease forwards;
}
