@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header_logo {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 10px;
}
.logo_img {
  font-family: Shrikhand, sans-serif;
  width: 165px;
  height: auto;
}
